
body{
    background: rgb(15,188,249);
    background: radial-gradient(circle, rgba(15,188,249,1) 0%, rgba(72,84,96,1) 93%);
    color: white;   
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #787878;
  background-color: #474747;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
